@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75,500;1,75,500&display=swap');

/* Generals rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dc-lighter: #FFFFFF;
  --dc-primary: #0282f9;
  --dc-darker: #1c1c1c;
  --dc-dark: #303030;
}

/* Utilities */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


body {
  font-family: "Open Sans", sans-serif;
  color: var(--dc-dark);
}


/* Header */
.app-header {

  .nav-logo {
    width: 90px;
  }

  .nav-link {
    position: relative;
  }

  .nav-link.selected {
    color: var(--dc-primary);
  }

  .nav-link.selected::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    background-color: #0282f9;
  }
}

/* Main */
.app-main {
  background-color: var(--dc-darker);
  color: var(--dc-lighter);

  .main-content {
    min-height: 100px;
  }

  .main-banner {
    background-color: var(--dc-primary);
    min-height: 150px;

    .banner-item {
      &>img {
        height: 20px;
      }
    }
  }
}