@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75,500;1,75,500&display=swap');

/* Generals rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dc-lighter: #FFFFFF;
  --dc-primary: #0282f9;
  --dc-darker: #1c1c1c;
  --dc-dark: #303030;
  --dc-light: gray;
}

/* Utilities */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


body {
  font-family: "Open Sans", sans-serif;
  color: var(--dc-dark);
}


/* Header */
.app-header {

  .nav-logo {
    width: 90px;
  }

  .nav-link {
    position: relative;
  }

  .nav-link.selected {
    color: var(--dc-primary);
  }

  .nav-link.selected::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    background-color: #0282f9;
  }
}

/* Main */
.app-main {
  background-color: var(--dc-darker);
  color: var(--dc-lighter);

  .main-content {
    min-height: 100px;
  }

  /* Banner */
  .main-banner {
    background-color: var(--dc-primary);

    .banner-item {
      &>img {
        height: 50px;
      }

      .visa-power {
        max-width: 50px;
      }
    }
  }
}

/* Footer */
.app-footer {

  background-image: url("./assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .footer-sections {
    position: relative;
    padding: 2.5rem 0rem;
    z-index: 1;

    .footer-section {
      ul {
        padding: 0;
      }

      li {
        margin-bottom: 0.3rem;
      }

      a {
        color: var(--dc-light);
        font-size: 1rem;
      }

      .section-title {
        color: var(--dc-lighter);
        margin-bottom: 1rem;
      }
    }
  }

  .footer-sections::after {
    content: "";
    /* Obbligatorio per attivare lo pseudo-elemento */
    position: absolute;
    /* Posizionamento assoluto */
    top: 0px;
    right: 20px;
    width: 50%;
    height: 100%;
    background-image: url(./assets/img/dc-logo-bg.png);
    background-size: cover;
    /* Copre l'intera area senza distorcere */
    background-position: center;
    /* Centra l'immagine */
    z-index: 0;
    /* Sposta l'immagine dietro al testo */
  }

  .footer-bottom {
    background-color: var(--dc-dark);

    .social-followus {
      color: var(--dc-primary);
      margin-bottom: 0;
    }


  }

}