@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75,500;1,75,500&display=swap');

/* Generals rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dc-lighter: #FFFFFF;
  --dc-primary: #0282f9;
  --dc-darker: #1c1c1c;
  --dc-dark: #303030;
}

/* Utilities */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


body {
  font-family: "Open Sans", sans-serif;
}